#navbar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-transform: uppercase;
}

#navitem {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5rem;
}

#navitem:hover {
    color: #ffffff;
    text-decoration: underline;
    font-size: 1.5rem;
}

#navitem-active {
    color: #54b35c;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

#navitem-active:hover {
    color: #54b35c;
    text-decoration: underline;
    font-size: 1.5rem;
    font-weight: bold;
}
